.bg-black {
  background-color: $black;
  color: $white;
}
.divider {
  height: 1px;
  border-bottom: 1px solid $black;
}
.hr-divider {
  height: 42px;
  width: 1px;
  background-color: $black;
  margin: 0 1.875rem;
}
